<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InnovateHer Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
    function fetchLocation() {
            // Fetch the user's location from the Flask backend
            fetch('/get-location')
                .then(response => response.json())
                .then(data => {
                    // Display the latitude and longitude on the page
                    document.getElementById('latitude').textContent = `Latitude: ${data.latitude}`;
                    document.getElementById('longitude').textContent = `Longitude: ${data.longitude}`;
                    document.getElementById('maps').src = `https://www.google.com/maps/embed/v1/place?key=AIzaSyCMq3bpKoGR6S3QDRyZqq7Y2szxfebmP4w&q=${data.latitude},${data.longitude}`;
                    document.getElementById('destination1').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=40.42553,-86.92514&travelmode=driving';
                    document.getElementById('destination2').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=40.427836,-86.920856&travelmode=driving';
                    document.getElementById('destination3').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=40.428478,-86.919540&travelmode=driving';
                    document.getElementById('destination4').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=40.426429,-86.923241&travelmode=driving';
                    document.getElementById('destination5').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=39.773611,-86.151306&travelmode=driving';
                    document.getElementById('destination6').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=39.450220,-87.413290&travelmode=driving';
                    document.getElementById('destination7').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=39.776150,-86.167213&travelmode=driving';
                    document.getElementById('destination8').href = 'https://www.google.com/maps/dir/?api=1&origin=' + data.latitude + "," + data.longitude + '&destination=39.167125,-86.525428&travelmode=driving';
                })
                .catch(error => console.error('Error fetching location:', error));
        }
    function loadLocations() {}
  </script>
  </head>

  <body>
    <div>
      <div class="menu_bar">
        <a href="#map_location">
          <button class="map">Map</button>
        </a>
        
        <!-- <button class="directions">Directions</button> -->
        <a href="#about_location">
          <button class = "about">About</button>
        </a>
        
      </div> 
      <hr>
    <img class="img" src="{{ url_for('static', filename='logo.png') }}"></img>
    <h3 class="slogan">Explore Her Story, One Destination at a Time!</h3>
    </div>

    <div class="heading">
      <h2>Travel Destinations (10 mile radius)</h2>
    </div>

    <div class="container">
      <div class="map">
        <div style="display:flex;justify-content:space-around; align-items:center">
          <div id="map_location">
            <button class="map" onclick="fetchLocation()">Get Location</button>
          </div>
          <div style="display:flex;flex-direction:column;">
            <p id="latitude">Latitude: </p>
            <p id="longitude">Longitude: </p>
          </div>
        </div>
        <div class="map_placeholder">
          <iframe id="maps"
                  src="" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
        </div>
      </div>
  
      <div class="scrolling_menu">
        <a href="#" class="active">Women Centric Historical Places</a>
        <a id="destination1" href="#">Destination 1</a>
        <a id="destination2" href="#">Destination 2</a>
        <a id="destination3" href="#">Destination 3</a>
        <a id="destination4" href="#">Destination 4</a>
        <a id="destination5" href="#">Destination 5</a>
        <a id="destination6" href="#">Destination 6</a>
        <a id="destination7" href="#">Destination 7</a>
        <a id="destination8" href="#">Destination 8</a>
      </div>
    </div>
    <div class="about_section">
      <div class="heading">
        <h2>About Herstory Walks</h2>
      </div>
      <p class="blurb">Herstory Walks is a platform designed to connect women travelers with historical sites that celebrate the lives and legacies of extraordinary women throughout history. 
        Our mission is to make history more inclusive and inspiring by curating destinations that highlight women's contributions to culture, science, politics, and beyond. 
        Whether you're exploring iconic landmarks or uncovering hidden gems, Herstory Walks offers an engaging way to experience the past through the lens of women's achievements. 
        Embark on a journey where every step tells a story of resilience, innovation, and empowerment.</p>
      </p>
      <p id="about_location"></p>
    </div>
  </body>

  