<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InnovateHer Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
    function fetchLocation() {
            // Fetch the user's location from the Flask backend
            fetch('/get-location')
                .then(response => response.json())
                .then(data => {
                    // Display the latitude and longitude on the page
                    document.getElementById('latitude').textContent = `Latitude: ${data.latitude}`;
                    document.getElementById('longitude').textContent = `Longitude: ${data.longitude}`;
                })
                .catch(error => console.error('Error fetching location:', error));
        }
  </script>
  </head>

  <body>
    <div>
      <div class="menu_bar">
        <button class="map" onclick="fetchLocation()">Map</button>
        <!-- <button class="directions">Directions</button> -->
        <button class = "about">About</button>
      </div> 
      <hr>
    <img class="img" src="{{ url_for('static', filename='logo.png') }}"></img>
    </div>

    <div class="container">
      <div class="map">
        <p id="latitude">Latitude: </p>
        <p id="longitude">Longitude: </p>
        <div class="map_placeholder">
          Map Coming</div>
      </div>
  
      <div class="scrolling_menu">
        <p>Women Centric Historical Places</p>
        <p>Destination 1<br>Destination 2<br>Destination 3<br>Destination 4</p>
      </div>
    </div>
  </body>